.app_bar{
   font-family: Verdana, Geneva, sans-serif;
   letter-spacing: 0.10rem;
   font-size: 16px;
}
.app_background{
   background-color: white;
}
.nav_bar{
   font-family: Arial, Verdana, sans-serif;
   letter-spacing: 0.08rem;
   font-size: 12px;
   font-weight: 400 !important;
   color: #EEEEEE;
}
.header_title {
   font-family: Verdana, Geneva, sans-serif;
   letter-spacing: 0.08rem;
   font-size: 20px;
   font-weight: 500;
}

.font{
 font-family: Verdana, Geneva, sans-serif;
    font-size: large;
    letter-spacing: 0.08rem;
    font-weight: 400;
    font-size: 16px;
    line-height:1.6;
    font-size: 20px;
}
.avatar_hcard_1{
   background:linear-gradient(60deg, #26c6da, #00acc1);
}
.avatar_hcard_2{
   background:linear-gradient(60deg, #66bb6a, #43a047);
}
.avatar_hcard_3{
   background:linear-gradient(60deg, #ef5350, #e53935);
}
.avatar_hcard_4{
   background:linear-gradient(60deg, #ffa726, #fb8c00);
}
.hcard_1{
   background:linear-gradient(60deg, #26c6da, teal);
}
.hcard_2{
   background:linear-gradient(60deg, #66bb6a, teal);
}
.sub_title{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   letter-spacing: 0.05rem;
   color: grey ;
}
.sub_header{
    font-family: Arial, Helvetica, sans-serif;

}
.header_dt_title {
    font-family: Tahoma, Geneva, sans-serif	;
    letter-spacing: 0.08rem;
    font-size: 20px;
    font-weight: bold;
}
.table_icon_spn{
   font-family: Verdana, Geneva, sans-serif;
   color:white;
   font-weight: 400;
}
.leave_innercard{
    background: linear-gradient(60deg, #ec407a, #d81b60);
}
.applicant_innercard{
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
   
}
.visitor_innercard{
    background: linear-gradient(60deg, #4fa18d, #048162);
   
}
.tab_hower:hover{
   background:linear-gradient(60deg, #ec407a, #d81b60);
   color: white;
}
.tab_hower:active{
    color: white;
}
.table_font{
    padding: 12px 8px!important;
    position: relative;
    font-size: 1em;
    border-top: 1px solid #DDD;
     font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    border-bottom: none;
    vertical-align: middle;
}
.tab_card{
   background: linear-gradient(60deg, #ec407a, #d81b60);
   box-shadow: gray;
}
.card_padding{
padding: 0% !important;
}
.human_card{
 background:linear-gradient(60deg, rgb(177, 112, 177), purple);
}
.applicant_h4{
color: grey;
}